{% extends 'base.html' %}

{% block title %}
<title>About us</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="about_name">
        <h1>Часто задаваемые вопросы:</h1>
    </div>
    <div class="about_desc">
        <p>Нижегородский Благотворительный Фонд Защиты Животных «Happy Tails» — организация, чья деятельность<br> направлена на помощь бездомным животным в Нижнем Новгороде.</p>
    </div>

    <div class="about_content">
        <section>
            <details>
                <summary>⬥ Как взять животное из приюта?</summary>
                <p>
                1. Заранее подумайте над тем, с каким животным вам и вашей семье будет комфортно: с активным или спокойным, должен ли он ладить с детьми или уже имеющимися питомцами.<br>
                2. Выберите животное или нескольких в каталоге собак и кошек → и свяжитесь с нами<br>
                3. Познакомьтесь с животным в приюте и пройдите собеседование на роль хозяина. Мы рекомендуем несколько раз приехать в гости, чтобы установить дружескую связь и понять характер животного. Не беспокойтесь, вашего нового члена семьи не отдадут другим хозяевам, если встреча прошла позитивно и вы сообщите нам о серьёзности своих намерений.<br>
                4. После встречи с животным подумайте над своим выбором, поспите и примите решение на свежую голову, без эмоций.
                Сообщите нам о принятом решении.<br>
                5. Подписав документ передачи животного вы получите паспорт с отметками о вакцинации и нового члена семьи. Поздравляем с пополнением!<br>
                </p>
            </details>
            <details>
                <summary>⬥ Как адаптировать животное в новом доме?</summary>
                <p>Подготовка дома к появлению собаки<br><br>
                <b>Что купить?</b><br>
                На первое время уберите хрупкие и опасные для собаки вещи из зоны досягаемости (цветочные горшки, провода). После периода адаптации их можно будет вернуть на место. Собаке требуется несколько дней, чтобы привыкнуть к туалету на улице, на это время уберите ковры с пола.<br>
                1. Адресник с именем собаки и вашими контактами + яркий шнурок для адресника<br>
                2. Яркая, надёжная и удобная н-образная шлейка<br>
                3. Поводок (не менее 5 метров), не рулетка<br>
                4. Миски для воды и еды<br>
                5. Корм и специальные лакомства<br>
                6. Шампунь<br>
                7. Расчёска-пуходерка или фурминатор<br>
                8. Полотенце<br>
                9. Несколько разных игрушек<br>
                10. Место для сна (лежак или плед)<br>
                11. Когтерезка<br>
                12. Весной, летом и осенью: средства от клещей<br>
                </p>
            </details>
            <details>
                <summary>⬥ Стерилизованы и привиты ли животные в приюте?</summary>
                <p>Да, все животные в обязательном порядке стерилизуются и чипируются отловом перед тем, как попадают в приют. Каждый год животные проходят обязательную вакцинацию от бешенства и комплекса вирусов. Волонтёр имеет паспорт на каждое животное с подтверждением вакцинации.</p>
            </details>
            <details>
                <summary>⬥ Чек-лист ответственного хозяина</summary>
                <p>1. Вы осознаёте, что адаптация и воспитание животного потребуют времени и терпения, а иногда финансовых затрат<br>
                2. Если вы живёте на съёмной квартире, то арендодатель не против животных. В случае смены квартиры, вы готовы искать жильё, где вас примут с питомцем<br>
                3. Вы понимаете, что собаке требуются регулярные прогулки в любую погоду, а котик иногда будет делать ночной тыгдык по квартире<br>
                4. Потребности животного не станут отягчающими для вашего бюджета<br>
                5. В вашем окружении нет людей, которые были бы против животного (даже если эти люди не живут с вами постоянно)<br>
                </p>
            </details>
        </section>
    </div>
    <div class="pipi">
        {% for i in range(img|length) %}
            <div class="pupu">
                <img src="../static/images/Other/{{ img[i] }}" alt="">
                <div style="height: 55px"><p class="popa">{{ desc[i] }}</p></div>
            </div>
        {% endfor %}
    </div>

    <div class="sep">
    <h1>Реквизиты и документация</h1>
    </div>

    <div class="help_document">

        <div class="li_help">
            <p class="o_li">Переводом через карту Сбербанка:</p>
            <p>1234 1234 1234 1234</p>
        </div>
        <div class="li_help">
            <p class="o_li">Расчетный счет Фонда "Happy tails":</p>
            <p>Некоммерческая организация «Нижегородский благотворительный фонд защиты животных «Happy tails»<br>
                ИНН 1111111111 | КПП 111111111 | ОГРН 1111111111111<br>
                Расч./счет 11111111111111111111 в Приволжский Филиал ПАО РОСБАНК<br>
                Кор.счет: 11111111111111111111<br>
                БИК: 111111111 Юр. адрес: 603138, г.Нижний Новгород, ул. Строкина, д. 1215 Б Почт. адрес: 603138, г.Нижний Новгород<br>
                тел. 8 (963) 232-37-20</p>
        </div>
    </div>


</div>
{% endblock %}
