{% extends 'base.html' %}

{% block title %}
<title>User_cabinet</title>
{% endblock %}

{% block body %}
<div class="main">

    <div class="user_name">
        <h1 class="center">Привет, {{ name }}!</h1>
        <div class="user_button"><a href="/logout"><button>Выйти</button></a></div>
    </div>

    <div class="user_content">
        <h2 style="color: #333333;">Информация о пользователях:</h2>
        <!-- Добавлено поле ввода для поиска по email -->
        <form action="/search_user" method="GET" style="margin-top: 20px;">
                <input style="height:25px; width:200px; margin-left: 5px; border-width:1px; border-radius: 10px; background-color: transparent; color: #333333;" type="text" name="email" placeholder="  Поиск по email">
                <button style="height:25px; width:60px; margin-left: 5px; border-width:1px; border-radius: 10px; background-color: transparent; color: #333333;" type="submit">Найти</button>
                <a href="{{url_for('admin_cabinet')}}"><button style="height:25px; width:70px; margin-left: 5px; border-width:1px; border-radius: 10px; background-color: transparent; color: #333333;" type="button">Сбросить</button></a>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Login</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="#" onclick="showSubscriptionDetails('{{ users_animals[user.id|string] }}')">
                            <button class="one_cat_but" style="margin-left:0; margin-right:0; width: 200px;">Посмотреть животных</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<!-- Модальное окно для отображения подробностей подписки -->
<div id="subscriptionModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Животные данного пользователя</h3>
        <div style="display: flex; margin-top: 10px;">
            <p>Имена животных:</p>
            <p style="margin-left: 5px;" id="name"></p>
        </div>

    </div>
</div>

<script>
    function showSubscriptionDetails(name) {
        document.getElementById("name").innerText = name;
        document.getElementById("subscriptionModal").style.display = "block";
    }
    function closeModal() {
        document.getElementById("subscriptionModal").style.display = "none";
    }
</script>

{% endblock %}