{% extends 'base.html' %}

{% block title %}
<title>Animal_cart</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="animal_cart_content">
        <img src="../static/images/animals/{{single_animal[0].photo}}" alt="">
        <div class="animal_cart_desc">
            <h1> {{single_animal[0].name}}</h1>
            <p>
                {{single_animal[0].description}}
            </p>
                {% if current_user.is_authenticated %}
                <div style="margin-top:20px;">
                <a href="/form/{{single_animal[0].name}}">Оформить опеку</a>
                </div>
                {% else %}
                <div style="margin-top:20px;">
                    <a href="/login">Войдите или Зарегистрируйтесь что бы оформить опеку</a>
                </div>
                {% endif %}

        </div>

    </div>
</div>
{% endblock %}