<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/ic.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% block title %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="line">
            <div class="logo">
                <a href="/">
                    <img src="../static/images/as4.png" alt="aaa">
                </a>
            </div>
            <div class="bar" >
                <a href="/about">О нас</a>
                <a href="/cats">Кошки</a>
                <a href="/dogs">Собаки</a>
                <a href="/care">Об уходе</a>
            </div>
            <div class="singin">
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 0 %}
                        <a href="/user_cabinet"><img src="../static/images/cathome.png" alt=""></a>
                    {% else %}
                        <a href="/admin_cabinet"><img src="../static/images/cathome.png" alt=""></a>
                    {% endif %}
                {% else %}
                <a href="/login"><button>Войти</button></a>
                {% endif %}
            </div>

        </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="content">
            <div class="info">
                <h1>Контакты</h1>
                <h3>Номер: +7 (963) 232 37 20</h3>
                <h3>Почта: Alisaalborova13@gmail.com</h3>
                <div class="ico">
                    <img src="../static/images/vk.png" alt="a">
                    <img src="../static/images/tg.png" alt="a">
                    <img src="../static/images/ws.png" alt="a">
                </div>
            </div>
            <div class="maps">
                <div class="maps_map" style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/47/nizhny-novgorod/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Нижний Новгород</a>
                    <a href="https://yandex.ru/maps/geo/nizhniy_novgorod/53105078/?ll=44.006520%2C56.326799&utm_medium=mapframe&utm_source=maps&z=11" style="color:#eee;font-size:12px;position:absolute;top:14px;">Нижний Новгород — Яндекс Карты</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?ll=44.006520%2C56.326799&mode=poi&poi%5Bpoint%5D=44.006506%2C56.326802&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzEwNTA3OBIr0KDQvtGB0YHQuNGPLCDQndC40LbQvdC40Lkg0J3QvtCy0LPQvtGA0L7QtCIKDa0GMEIVpE5hQg%2C%2C&z=11" width="529" height="327" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
            </div>
        </div>
        <div class="content_2">
            <p>© Happy Tails | by Alisa Alborova</p>
        </div>
    </footer>
</body>
</html>
