{% extends 'base.html' %}

{% block title %}
<title>Help</title>
{% endblock %}

{% block body %}
<div class="main">
        <div class="help_name">
        <img src="../static/images/name_help.png" alt="">
    </div>
    <div class="help_content">
        <div class="one_help">
            <img class="back" src="../static/images/help_el.png" alt="">
            <div class="cont">
                <p class="o_cont">Фонд содержит приют на 200 собак и 50 кошек</p>
                <p class="t_cont">Вы можете помочь нам с закупкой корма, оплатой счетов и лекарств. Мы благодарим каждого, кто хочет нам помочь.</p>
                <a href="/breed"><button class="cont_button">Узнать породу</button></a>
            </div>

        </div>

        <div class="two_help">
            <p class="o_cont">Теперь я могу купить <br>вкусный обед!</p>
            <p class="t_cont">Мне больше не придётся <br>выпрашивать еду на улице. Спасибо!</p>
            <img src="../static/images/pupi2.png" alt="">
        </div>
    </div>

    <div class="sep">
    <h1>Реквизиты и документация</h1>
    </div>

    <div class="help_document">

        <div class="li_help">
            <p class="o_li">Переводом через карту Сбербанка:</p>
            <p>5469 9801 4101 2902</p>
        </div>
        <div class="li_help">
            <p class="o_li">СМС сообщение на номер 7715</p>
            <p>Для этого нужно отправить СМС со словом питомец и цифрой пожертвования, написанной через пробел на номер 7715ПРИМЕР СМС : питомец 100где 100 - цифра пожертвований (может быть любой), написана через пробел.</p>
        </div>
        <div class="li_help">
            <p class="o_li">Ящики для пожертвований расположены:</p>
            <p>- в магазинах "Дирижабль" (ул.Б.Покровская д.46, ул.Белинского д.118, ул.Щербакова д.2, ул.Советская д.19/2)<br>
                - в приюте (ул.Коминтерна 29 "А"),<br>
                - в офисе ГК"Деком" (ул. Б. Печерская д.28/7)<br>
                - в сети магазинов "Зоосфера"- в сети магазинов "Лапушки"</p>
        </div>
        <div class="li_help">
            <p class="o_li">Онлайн-платформа добрых дел "800 ДОБРЫХ ДЕЛ":</p>
            <p>На платформе можно сделать пожертвование и/или создать собственный сбор в поддержку Фонда Happy tails.</p>
        </div>
        <div class="li_help">
            <p class="o_li">Расчетный счет Фонда "Happy tails":</p>
            <p>Некоммерческая организация «Нижегородский благотворительный фонд защиты животных «Happy tails»<br>
                ИНН 5260986585 | КПП 526001001 | ОГРН 1135200002321<br>
                Расч./счет 40703810923500000004 в Приволжский Филиал ПАО РОСБАНК<br>
                Кор.счет: 30101810400000000747<br>
                БИК: 042202747 Юр. адрес: 603155, г.Нижний Новгород, ул. Б.Печерская, д. 28/7 Почт. адрес: 603155, г.Нижний Новгород, ул. Б.Печерская, д. 28/7<br>
                тел. (831) 4111-181, факс (831) 4111-791</p>
        </div>
    </div>

</div>
{% endblock %}