{% extends 'base.html' %}

{% block title %}
<title>Help</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="sep">
    <h1>Как ухаживать за разыми породами?</h1>
    </div>
    <div class="about_desc">
        <h3 style="margin-top: 30px;"> Знание породы своего питомца играет важную роль в обеспечении его здоровья, благополучия и счастья. Вот несколько причин, почему это важно:</h3>
    </div>
    <div class="help_document">
        <div class="li_help">
            <p class="o_li">Понимание потребностей:</p>
            <p>Разные породы имеют разные потребности в питании, активности и уходе. Например, некоторые породы требуют больше физической активности, в то время как другие нуждаются в особом уходе за шерстью или кожей.</p>
        </div>
        <div class="li_help">
            <p class="o_li">Здоровье и профилактика:</p>
            <p>Некоторые породы имеют предрасположенность к определенным заболеваниям или состояниям, таким как дисплазия суставов или проблемы с дыханием. Знание породы позволяет принимать проактивные меры для предотвращения или раннего выявления таких проблем, обеспечивая питомцу более долгую и здоровую жизнь.</p>
        </div>
        <div class="li_help">
            <p class="o_li">Поведение и обучение:</p>
            <p>Каждая порода имеет свои уникальные черты характера и поведения. Понимание этих особенностей поможет вам лучше понять своего питомца, предсказать его реакции и эффективнее обучать его новым навыкам.</p>
        </div>
    </div>

    <div class="help_content">
        <div class="one_help">
            <img class="back" src="../static/images/help_el.png" alt="">
            <div class="cont">
                <p class="o_cont">Как ухаживать за своим питомцем?</p>
                <p class="t_cont">Вы можете загрузить фотографию своего питомца и узнать его породу, но самое главное - правила ухода за этой породой.</p>
                <a href="/breed"><button class="cont_button">Узнать породу</button></a>
            </div>

        </div>

        <div class="two_help">
            <p class="o_cont">Ухаживай за мной <br>ПРАВИЛЬНО!</p>
            <img src="../static/images/pupi2.png" alt="">
        </div>
    </div>





</div>
{% endblock %}