{% extends 'base.html' %}

{% block title %}
<title>Dogs</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="cats_name">
        <h1>Наши подопечные</h1>
    </div>
    <div class="cats_bar">
        <a href="/cats"><button class="dogs_bar_cat">Кошки</button></a>
        <a href="/dogs"><button class="dogs_bar_dog">Собаки</button></a>

    </div>

    <div class="cats_content">
        {% for dog in dogs_list %}
        <div class="one_cat">
            <img src="../static/images/animals/{{ dog.photo }}" alt="">
            <p class="one_cat_p">{{ dog.name }}</p>
            <a class="one_cat_a" href="/animal_cart/{{dog.id}}">
                    <button class="one_cat_but">Познакомиться</button>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}