{% extends 'base.html' %}

{% block title %}
<title>Form</title>
{% endblock %}

{% block body %}
<div class="main">
    {% if gender == 'female' %}
    <div class="cats_name">
        <h1>{{animal_name}} будет рада!</h1>
    </div>
    {% else %}
    <div class="cats_name">
        <h1>{{animal_name}} будет рад!</h1>
    </div>
    {% endif %}
    <div class="cats_name">
        <p>Вы можете выбрать любую сумму для ежемесячной поддержки вашего любимца</p>
    </div>
    <div class="money">

        <div class="money_contetnt">
            <p>150 руб.</p>
            <p>И мы сможем купить вкусный<br> обед вашему подопечному</p>
        </div>
        <div class="money_contetnt">
            <p>300 руб.</p>
            <p>И мы сможем оплатить осмотр<br> ветеринара или лекарства</p>
        </div>
        <div class="money_contetnt">
            <p>Любая другая сумма</p>
            <p>Каждое ваше пожертвование дает возможность<br> подарить подопечному корм, миски, поводки,<br> лекарства и так далее, он будет вам очень благодарен!</p>
        </div>
    </div>

    <form class="form" style="height:550px" method="POST" action="{{ url_for('submit_form') }}">
        <div class="input">
            <input class="inp" type="text" name="amount" placeholder="Сумма" required>
        </div>
        <hr>
        <div class="input">
            <input class="inp" type="text" name="purpose" placeholder="Назначение платежа" required>
        </div>
        <hr>
        <div class="input">
            <input class="inp" type="text" name="email" placeholder="Ваш e-mail" required>
        </div>
        <hr>
        <div style="margin-top: 10px; margin-left: 50px">
            <p>Пожалуйста, обратите внимание, что списание средств будет автоматически происходить каждый месяц {{ today }} числа. Вы можете отменить подписку в любое время, в личном кабинете.</p>
        </div>
        <div class="input_ch">
            <input type="checkbox" name="scales" checked required>
            <label for="scales">Я ознакомлен и согласен с Политикой конфиденциальности и Публичной офертой о заключении договора опеки</label>
        </div>
        <input type="hidden" name="animal_id" value="{{ anim_id }}">
        <input type="hidden" name="user_id" value="{{ current_user.id }}">

        <button class="cont_button" type="submit">Оформить опеку</button>
    </form>
</div>
{% endblock %}