{% extends 'base.html' %}

{% block title %}
<title>Form</title>
{% endblock %}

{% block body %}
<div class="main">
    {% if gender == 'female' %}
    <div class="cats_name">
        <h1>{{animal_name}} будет рада!</h1>
    </div>
    {% else %}
    <div class="cats_name">
        <h1>{{animal_name}} будет рад!</h1>
    </div>
    {% endif %}
    <div class="cats_name">
        <p>Вы можете выбрать любую сумму для ежемесячной поддержки вашего любимца</p>
    </div>
    <div class="money">

        <div class="money_contetnt">
            <p>150 руб.</p>
            <p>И мы сможем купить вкусный<br> обед вашему подопечному</p>
        </div>
        <div class="money_contetnt">
            <p>300 руб.</p>
            <p>И мы сможем оплатить осмотр<br> ветеринара или лекарства</p>
        </div>
        <div class="money_contetnt">
            <p>Любая другая сумма</p>
            <p>Каждое ваше пожертвование дает возможность<br> подарить подопечному корм, миски, поводки,<br> лекарства и так далее, он будет вам очень благодарен!</p>
        </div>
    </div>

    <div class="form">
        <div class="input">
            <input class="inp" type="text" placeholder="Сумма">
        </div>
        <hr>
        <div class="input">
            <input class="inp" type="text" placeholder="Назначение платежа">
        </div>
        <hr>
        <div class="input">
            <input class="inp" type="text" placeholder="Ваш e-mail">
        </div>
        <hr>
        <div class="input_ch">
            <input type="checkbox" name="scales" checked>
            <label for="scales">Я ознакомлен и согласен с Политикой конфиденциальности и Публичной офертой о заключении договора пожертвования</label>
        </div>

        <button class="cont_button">Оформить опеку</button>
    </div>
</div>
{% endblock %}