{% extends 'base.html' %}

{% block title %}
<title>test</title>
{% endblock %}

{% block body %}
<main class="main">
    <div class="name">
        <h1>Приют для животных Happy Tails</h1>
    </div>
    <div class="desc">
        <p>Нижегородский Благотворительный Фонд Защиты Животных «Happy Tails» — организация, чья деятельность<br> направлена на помощь бездомным животным в Нижнем Новгороде.</p>
    </div>
    <div class="but">
        <a href="/cats"><button >Выбрать питомца</button></a>
    </div>
    <div class="img">
        <img src="static/images/test.png" alt="">
    </div>
</main>
{% endblock %}

