{% extends 'base.html' %}

{% block title %}
<title>Form</title>
{% endblock %}

{% block body %}
<div class="main">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="display:flex; justify-content: center; align-items: center; margin-top:5px; border: 2px dashed rgba(245, 208, 138, 1); padding-top:5px; padding-bottom:5px; margin-right:150px; margin-left:150px;">
            <ul>
                {% for message in messages %}
                    <h3 style="color: #333333;">{{ message }}</h3>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
    <div class="login-container">
        <div class="img-container">
            <img src="../static/images/big_pupi.png" alt="Ваш логотип">
        </div>
        <form class="form" action="/login" method="post" style="width: 50%">
            <div class="input">
                <input class="inp" maxlength="50" type="text" name="login" placeholder="Ваш логин" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" maxlength="50" type="password" name="password" placeholder="Ваш пароль" required>
            </div>
            <hr>
            <button type="submit" value="submit" class="cont_button" style="margin-top: 60px">Войти</button>
            <div class="register-link">
                <p>У вас нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

