{% extends 'base.html' %}

{% block title %}
<title>Form</title>
{% endblock %}

{% block body %}

<div class="main">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="display:flex; justify-content: center; align-items: center; margin-top:5px; border: 2px dashed rgba(245, 208, 138, 1); padding-top:5px; padding-bottom:5px; margin-right:150px; margin-left:150px;">
            <ul>
                {% for message in messages %}
                    <h3 style="color: #333333;">{{ message }}</h3>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
    <div class="login-container">
        <div class="img-container">
            <img style="height: 750px" src="../static/images/ddd.png" alt="Ваш логотип">
        </div>
        <form class="form" action="/register" method="post" onsubmit="return validateForm()" style="width: 50%; height: 1100px">
            <div class="input">
                <input class="inp" name="surname" maxlength="50" type="text" placeholder="Ваша фамиля" pattern="[А-Яа-яЁё]{2,}" title="Введите не менее 2 символов кириллицей" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="name" maxlength="50" type="text" placeholder="Ваше имя" pattern="[А-Яа-яЁё]{2,}" title="Введите не менее 2 символов кириллицей" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="name2" maxlength="50" type="text" placeholder="Ваше отечство" pattern="[А-Яа-яЁё]{2,}" title="Введите не менее 2 символов кириллицей" >
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="number" maxlength="50" type="tel" placeholder="Ваш номер" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" title="Введите номер в фомате 8хххххххххх" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="email" maxlength="50" type="email" placeholder="Ваш email" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="login" maxlength="50" type="text" placeholder="Ваш логин" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="password" maxlength="50" type="password" placeholder="Ваш пароль" pattern="^(?=.*[a-zA-Z0-9]).{5,}$" title="Введите не менее 5 символов латиницей/цифрами" required>
            </div>
            <hr>
            <div class="input">
                <input class="inp" name="confirm_password" maxlength="50" type="password" placeholder="Повторите пароль" title="Пароли должны совпадать" pattern="^(?=.*[a-zA-Z0-9]).{5,}$" oninput="checkPassword(this)" required>
            </div>
            <hr>
            <button class="cont_button" type="submit" value="submit" style="margin-top: 60px">Зарегистрироваться</button>
            <div class="register-link">
                <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<script>
function validateForm() {
    <!--проверка имени-->
    var surname = document.forms["form"]["surname"].value;
    // Проверка фамилии на кириллицу и минимальную длину
    var surnamePattern = /[А-Яа-яЁё]{2,}/;
    if (!surnamePattern.test(surname)) {
        alert("Введите не менее 2 символов кириллицей в поле Фамилия");
        return false;
    }
    <!--проверка фамилии-->
    var name = document.forms["form"]["name"].value;
    // Проверка фамилии на кириллицу и минимальную длину
    var namePattern = /[А-Яа-яЁё]{2,}/;
    if (!namePattern.test(name)) {
        alert("Введите не менее 2 символов кириллицей в поле Имя");
        return false;
    }
    <!--проверка отчества-->
    var name2 = document.forms["form"]["name2"].value;
    // Проверка фамилии на кириллицу и минимальную длину
    var name2Pattern = /[А-Яа-яЁё]{2,}/;
    if (!name2Pattern.test(name2)) {
        alert("Введите не менее 2 символов кириллицей в поле Отчество");
        return false;
    }
    <!--проверка пароля-->
    var password = document.forms["form"]["password"].value;
    // Проверка фамилии на кириллицу и минимальную длину
    var passwordPattern = /^[a-zA-Z0-9]{5,}$/;
    if (!passwordPattern.test(password)) {
        alert("Введите не менее 5 символов");
        return false;
    }
    <!--проверка номера-->
    var number = document.forms["form"]["number"].value;
    // Проверка фамилии на кириллицу и минимальную длину
    var numberPattern = /^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/;
    console.log('Validation called');
    if (!numberPattern.test(number)) {
    console.log('тщщщ');
        alert("Введите номер");
        return false;
    }
    return true;
}
<!--проверка подтверждения пароля-->
function checkPassword(input) {
    if (input.value !== document.querySelector('input[name="password"]').value) {
        input.setCustomValidity('Пароли должны совпадать');
    } else {
        // Соответствует, очищаем сообщение об ошибке
        input.setCustomValidity('');
    }
}
</script>